html {
    font-size: 16px;
}

body {
    background-image: url('images/bg1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    margin: auto;
}

header {
    width: 100%;
    background-color: lavenderblush;
    color: azure;
    border-bottom: 2px solid silver;
    position: fixed;
    z-index: 1;
}

header .top {
    display: flex;
    align-items: center;
    padding: 0 1.3rem;
}

header .logo {
    font-size: 1.7rem;
    flex: auto;
    color: aqua;
    text-align: center
}

header .nav {
    display: block;
}

header .nav ul {
    display: flex;
    list-style: none;
}

header .icon {
    width: 1rem;
    padding-left: .4rem;
}

.nav li {
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: mediumblue;
}

.main {
    position: relative;
}

#mission {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(images/bg3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 650px;
    background-size: cover;
}

#mission .goal {
    color:yellow;
}

#mission .cursive {
    font-family: cursive;
    font-size: 2rem;
}

#mission h3 {
    font-family: 'Judson';
    font-size: 1.3rem;
}

#sign {
    position: relative;
    background-color: azure;
    top: 75px;
    width: 100%;
    text-align: center;
}

.state {
    line-height: 1.3;
}

#inventory {
    margin: auto;
    width: 80%;
    text-align: center;
    color: antiquewhite;
}

#inventory h2 {
    font-family: 'Oooh Baby';
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
}

#inventory h3 {
    font-family: 'Judson';
    font-size: 1.5rem;
}

#box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.selections {
    display: inline-block;
    margin: 10px;
    border: 4px solid lightseagreen;
    width: 30%;
}

.selections img {
    width: 350px;
    height: 250px;
}

#quotes {
    width: 80%;
    margin: auto;
    text-align: center;
}

.ref {
    text-align: center;
    width: 80%;
    margin: auto;
}

.ref h2 {
    font-family: 'Mea Culpa';
    font-weight: bold;
    font-size: 45px;
    border: 3px solid silver;
}

.ref p {
    color: pink;
    font-family: 'Judson';
    font-size: 1,4em;
}

.peeps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list {
    display:inline-flex;
    margin: 15px;
    width: 45%;
    border: 6px solid lightcyan;
}

.list img {
    width: 300px;
    height: 300px;
}

footer {
    color:white;
    background-color: gray;
}

footer .extra {
    display: flex;
    justify-content: space-evenly;
    font-size: .9rem;
}

#workers {
    margin: auto;
    text-align: center;
    width: 83%;
}

.jobs h2 {
    font-weight: bold;
    font-family: 'The Nautical';
    text-align: center;
}

.jobbers {
    display: inline-flex;
    justify-content: space-evenly;
    width: 46%;
    margin: 25%;
    border: 15px solid lightcyan;
}

.jobbers img {
    width: 250px;
    height: 200px;
    border-radius: 50%;
}

.jobbers p {
    font-family: 'Dynalight';
    font-size: 32px;
    color: white;
}

.roster {
    display: flex;
    justify-content: space-evenly;
}